body {
    background-color: #FFF0E3;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    margin: 0;
}
/*
@keyframes myAnimation {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}
body.home {
    background-color: red;
    animation-name: change;
    animation-duration: 60s;
}
*/

/*0B1320*/

.bar {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 20px;

    width: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: none;

    background: rgb(19, 0, 0);
    color: rgb(255, 248, 248);

    padding: 10px 18px;
    border-radius: 16px;
}

#mode {
    width: 40px;
    cursor: pointer;
}