html {
    min-height: 100%;
    margin: 0px;
}

@font-face {
    font-family: "Moontime";
    src: url("backgrounds/Moontime-Font/MoonTime-Regular.otf") format("opentype");
}

body {
    background-color: #fff0e3;
    background-image: url("backgrounds/light/home.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    min-height: 100vh;
}

.home, .about, .reminisce, .contact {
    overflow: hidden;
    position: relative;
}

.bar {
    display: flex;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    gap: 20px;
    background: #ffffff6d;
    border-radius: 16px;
}

.right {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

a {
    white-space: nowrap;
    text-decoration: none;
    color: #370901;
    padding: 5px 18px;
    font-size: 1.5em;
}

.button {
    background: #370901;
    color: #FFF0E3;
    border-radius: 16px;
}

.center-buttons {
    display: flex;
    gap: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 300%);
    margin: 0 auto;
}

#up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -100%);
    margin: 0 auto;
}

#mode {
    width: 40px;
    cursor: pointer;
}

h1 {
    font-family: "Moontime", sans-serif;
    font-size: 100px;
    color: #370901;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    margin: 0 auto;
}

.type {
    white-space: nowrap;
    padding-right: 10px;
}

.type::after {
    content: "│";
    animation: blink 1s steps(2, start) 2;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#textbox {
    display: flex;
    gap: 8em;
    height: 80%;
    width: 95%;
    box-sizing: border-box;

    margin: 2.5%;
    padding: 4em;

    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0%, 13%);

    background: #370901b3;
    border-radius: 20px;
}

pre {
    color: #FFF0E3;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

p {
    color: #370901;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8em;

    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.pics {
    columns: 4 250px;
    column-gap: 15px;
    width: min(1200px, 90%);
    margin: 100vh auto 40px auto;
}

.pics img {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 20px;
}