body {
    background-color: #FFF0E3;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;
    margin: 0;
}

body.home {
    background: url("backgrounds/light/start.png");
}

body.reminisce {
    background: url("backgrounds/light/reminisce.png");
}

/*0B1320*/